In [2]:
from scipy import stats
import pandas as pd

# 身高与体重的例子

In [4]:
df = pd.DataFrame(
{"身高" : [152, 158, 165, 172, 180],
"体重" : [43, 48, 54, 63, 80]
})

In [5]:
df

    身高  体重
0  152  43
1  158  48
2  165  54
3  172  63
4  180  80

# 馅饼销量

In [4]:
df_pie = data.frame(
    {
        "weeks":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
        "sales":[350, 460, 350, 430, 350, 380, 430, 470, 450, 490, 340, 300, 440, 450, 300],
        "price":[5.5, 7.5, 8, 8, 6.8, 7.5, 4.5, 6.4, 7, 5, 7.2, 7.9, 5.9, 5, 7],
        "advertisement":[3.3, 3.3, 3, 4.5, 3, 4, 3, 3.7, 3.5, 4, 3.5, 3.2, 4, 3.5, 2.7]
    }

0.9772498680518208

In [ ]:
# X代表的是网络下载图片所需要的时间（单位为秒）
# 假如X服从均值为18.0，标准差为5.0的正态分布。
# 求P(X < 18.6)

prob = stats.norm.cdf(z,mu,sigma)